@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
  --color-orange: hsl(32, 83%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(255, 21%, 89%);
  --color-gray: hsl(240, 18%, 76%);
>>>>>>> 17a2125cd238fd4df2218b38cef21e20f2025650
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(253, 74%, 85%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(250, 29%, 8%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body{
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

/* GENERAL STYLES */

.container{
  width: 80%;
  margin: 0 auto;
}

.profile-photo{
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}

.btn{
  /* display: inline-block; */
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all .5s ease;
  font-size: 0.9rem;
}

.btn:hover{
  opacity: 0.8;
}

.btn-primary{
  background: var(--color-primary);
  color: var(--color-light);
}

/* .text-bold{
  font-weight: 500;
}

.text-muted{
  color: var(--color-gray);
} */

/*========= NAVBAR ==========*/

nav{
  width: 100%;
  background: var(--color-orange);
  padding: 0.7rem 0;
  position: fixed;
  /* top: 0;
  z-index: 10; */
  opacity: 1;
}

nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .search-bar{
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

nav .search-bar input[type="search"]{
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder{
  color: var(--color-gray);
}

nav .create{
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*========= main ==========*/